// 메인 컬러 로고
$main-green : #a2d646;
$main-orange : #f4b740;

// 색상표
$pink : #F47E9B;
$green : #89BA17;
$yellow : #F4B702;
$orange : #EF960C;
$white : #F2F1F2;

$navi-main : rgb(28, 28, 28);
$navi-cap : rgb(67, 67, 67);
$navi-danger : rgb(237, 61, 61);
$navi-success : rgb(14, 118, 38);

// Breakpoints
// 최소 크기는 html도 변경
$breakpoint-mobile: 375px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1264px; 

