@import "vars";
@import "mixins";

.lj-container {
   background-color: #fffedd;

   /* 전체화면 가리기 */
   width: 100%;
   max-width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;

   /* 창 덮기 */
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5000;

   // *{
   //    border: 1px dashed red;
   // }

   .wrapper {
      font-family: 'Poor Srtoy', sans-serif !important;

      min-width: 375px;
      min-height: 500px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      .title {
         display: block;
         height: 100px;
         // background-color: red;

         text-align: center;

         img{
            width: 250px;
         }


         //  회원가입
         .join-img {
            width: 30px;
         }

         span {
            display: block;
            color: $main-green;
            font-size: 24px;
            font-family: 'Poor Story';
            font-weight: 600;
         }
      }

      .input-wrapper {
         label {
            display: block;
            margin-bottom: 10px;

         }

         .error {
            background-color: white !important;
            border: 1px solid rgb(227, 35, 21) !important;
         }

         input {
            width: 250px;
            height: 50px;
            border-radius: 25px;
            border: 1px solid $main-green;

            //  회원가입
            &.join {
               height: 40px;
               font-size: 10pt;
               border: 1px solid $main-orange;
               display: block;
               
               &-retry {
                  height: 40px;
                  margin-top: 25px;
                  border: 1px solid $main-orange;
               }
            }
            background-color: white;

            padding-left: 20px;
            /* border-bottom: 2px solid rgb(8, 89, 40); */
         }

         label {
            text-align: center;
            font-size: 12px;
            font-weight: 600;
         }

         // 별명 입력
         .input-nick {
            margin-top: 30px;
            font-size: 12pt;
         }
      }

      .feature-wrapper {
         margin-top: 26px;
         text-align: center;
   
         .find_pw {
            color: rgb(152, 152, 152);
            font-size: 8pt;
            text-decoration: underline;
         }
   
         .find_pw:hover {
            color: rgb(1, 1, 1);
            font-size: 10pt;
         }
   
         #submit {
            margin-top: 1.2em;
            margin-bottom: 10px;
   
            color: #f4b740;
            font-size: 10pt;
            border-radius: 20px;
            background-color: white !important;
            border: 2px #f4b740 solid !important;
            padding: 20px 70px;
   
            font-weight: 600;
   
            //  회원가입
            &.join {
               margin: 10px 0px 0px 0px;
               color: $green;
               background-color: white !important;
               border: 2px $green solid !important;
            }
         }
      }
   
      .btn-back{
         font-size: 9pt;
         padding-top: 0px;
         a{
            color: gray;
            // text-decoration: none;
         }
      }
      
   
      .social-wrapper {
         // background-color: white;
         width: 200px;
         height: 100px;
         padding: 10px;
         border-radius: 20px;
         margin-top: 20px;

         .btn-social-group{
            display: flex;
            justify-content: center;

            .btn-social{
               // background-color: red;
               border-radius: 20px;
               border: 1px solid rgb(225, 225, 225);
               overflow: hidden;
               width: 40px;
               height: 40px;

               &.kakao{
                  background-color: rgb(248, 235, 0);
               }
            }
            
            .btn-social:nth-child(1){
               margin-right: 20px;
            }
         }
      }
   }



}

.input-wrapper .input-wrapper input:nth-child(2n + 1) {
   background-color: #f4b740;
   /* border-bottom: 2px solid rgb(8, 89, 40); */
}

.input-wrapper input:focus {
   outline: none;
}

input::placeholder {
   color: rgb(184, 184, 184);
   font-style: italic;
   font-size: 10pt;
}

.input-password,
.input-email {
   margin-top: 20px;
}

.error-text {
   position: absolute;
   margin-top: 4px;
   color: rgb(255, 81, 81);
   font-size: 13px;

   i {
      color: rgb(255, 81, 81);
      font-size: 17px;
   }
}